<h1>Log in</h1>

<form method="POST" action="/login">
  Email:<input type="email" name="email" required><br>
  Password:<input type="password" name="password" required><br>
  
  <input type="submit" value="Log in">
</form>

<p>Don't have an account? <a href="/signup">Sign up!</a></p>
<p>...or check out the <a href="/games">games</a></p>