<h1><%= @user.name if @user %></h1>
<% if @user.id == session[:user_id]%>
  <h2>Welcome back, <%=@user.name%></h2>
  <p>Want to logout? <a href="/logout">Log out...</a></p>
<% end %>
<h3>User Reviews</h3>