<h1>Sign up, it's a great website!</h1>

<form method="POST" action="/signup">
  Username:<input type="text" name="name" placeholder="" required><br>
  Email:<input type="email" name="email" placeholder="" required><br>
  Password:<input type="password" name="password" placeholder="Make it a good password" required><br>
  
  <input type="submit" value="Submit">
</form>