<h1>Sign up, it's a great website!</h1>

<form method="POST" action="/login">
  <input type="text" name="name" placeholder=""><br>
  <input type="email" name="email" placeholder=""><br>
  <input type="password" name="password" placeholder="Make it a good password"><br>
  
  <input type="submit" value="Submit">
</form>