<h1>New Review</h1>
<form method="POST" action="/reviews/new">
  
  <!-- Score:<input type="number" name="score" min="1" max="5" required> -->
  <!-- 
  <label for="1">1</label>
  <input type="radio" name="score" id="1" value=1>
  <label for="2">2</label>
  <input type="radio" name="score" id="2" value=2>
  <label for="3">3</label>
  <input type="radio" name="score" id="3" value=3>
  <label for="4">4</label>
  <input type="radio" name="score" id="4" value=4>
  <label for="5">5</label>
  <input type="radio" name="score" id="5" value=5><br>
  -->
  
  <label for="score">Score:</label>
  <select id="score" name="score" required>
    <!-- <option disabled selected value> -- select an option -- </option> --> <!-- this works but makes the box too big -->
    <option></option>
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
  </select> <br>
  <!-- <p>Review in words: <input type="text" name="content"></p> <br> -->
  <textarea name="content" placeholder="Type Review here." required></textarea>
  <input type="submit" value="Submit">
</form>